@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@400;500;600;700&display=swap");

:root {
  --primary-font-color: #35395c;
  --bodytext-font-color: #9f9f9f;
  --red-color: #bf1e2e;
  --greyish-bg-color: #e6e6e6;
  --light-blue-bg-color: #e9eaee;
  --white-color: #ffffff;

  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Oswald", sans-serif;

  /* --body-font-size: calc(0.7rem + 0.3vw);
  --title-font-size: calc(1.8rem + 0.3vw); */
}

body {
  font-family: var(--primary-font);
  /* font-family: 'Oswald', sans-serif; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
