@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@400;500;600;700&display=swap");

:root {
  --primary-font-color: #35395c;
  --bodytext-font-color: #9f9f9f;
  /* --input-font-color: #737373; */
  --red-color: #bf1e2e;
  --greyish-bg-color: #f2f2f2;
  --light-blue-bg-color: #e9eaee;
  --white-color: #ffffff;
  --border-bottom-color: #cccccc;

  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Oswald", sans-serif;

  --body-font-size: calc(0.8rem + 0.3vw);
  --title-font-size: calc(2.5rem + 0.3vw);
}

body {
  font-family: var(--primary-font);
  /* font-family: 'Oswald', sans-serif; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
