.bottom_row {
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.label {
  color: var(--primary-font-color);
  font-weight: 700;
  margin-bottom: 15px;
  font-size: calc(0.9rem + 0.3vw);
}

.info_cta_btn {
  composes: btn_primary from "./../../styleUtils.css";
  font-size: calc(0.7rem + 0.3vw);
  width: 100%;
  cursor: pointer;
}

.explanation {
  color: var(--bodytext-font-color);
  font-size: calc(0.7rem + 0.3vw);
}
