.main {
  flex-grow: 1;
}

.content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.page_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--red-color);
  font-size: var(--title-font-size);
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_info {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--greyish-bg-color);
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_details {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  gap: 10px;
}

.user_details_left {
  width: 80px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user_details_left img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.created_at {
  color: var(--bodytext-font-color);
  font-size: calc(0.7rem + 0.3vw);
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.buttons > * {
  width: 46%;
}

.user_details_btn {
  composes: btn_outline from "./../../styleUtils.css";
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: calc(0.7rem + 0.3vw);
}

.membership {
  display: flex;
  justify-content: flex-end;
}

.membership_board {
  max-width: 260px;
  text-align: center;
  background-color: var(--greyish-bg-color);
  padding: 20px;
  border-radius: 5px;
}

.membership_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--primary-font-color);
  font-size: calc(1.1rem + 0.3vw);
  margin-top: 0;
}

.membership_explanation {
  color: var(--bodytext-font-color);
  font-size: calc(0.7rem + 0.3vw);
}

.is_member_btn,
.register_in_orchestra_btn {
  display: block;
}

.is_member_btn {
  composes: btn_primary from "./../../styleUtils.css";
  font-size: calc(0.7rem + 0.3vw);
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}

.register_in_orchestra_btn {
  composes: btn_outline from "./../../styleUtils.css";
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: calc(0.7rem + 0.3vw);
}

/* ---- instruments section ---- */
.instruments_info,
.orchestras_info,
.posts_info {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--border-bottom-color);
  max-width: 1000px;
}

.top_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--primary-font-color);
  font-size: calc(2.2rem + 0.3vw);
  font-weight: 500;
  margin-top: 10px;
}

.info_btn {
  composes: btn_outline from "./../../styleUtils.css";
  height: 36px;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: calc(0.7rem + 0.3vw);
  margin-bottom: 15px;
}

.posts_info {
  border-bottom: none;
}
