.orchestra {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px 1px #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 20px;
}

.orchestra_picture {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.orchestra_title,
.orchestra_details,
.membership,
.orchestra_description,
.orchestra_amount,
.orchestra_frequency,
.orchestra_genres {
  padding: 10px 15px;
}

.orchestra_title_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--primary-font-color);
  font-size: calc(0.9rem + 0.3vw);
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
}

.orchestra_details {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.become_member,
.leave_orchestra {
  composes: btn_outline from "./../../styleUtils.css";
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: calc(0.6rem + 0.3vw);
}

.orchestra_genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-content: flex-start;
}
