.main {
  flex-grow: 1;
  background-color: var(--greyish-bg-color);
}

.content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.page_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--primary-font-color);
  font-size: var(--title-font-size);
  font-weight: 500;
}

.label {
  color: var(--primary-font-color);
  font-weight: 700;
  margin-bottom: 10px;
}

.name_fields {
  display: flex;
  justify-content: space-between;
}

.name_fields > * {
  width: 48%;
}

.picture_field {
  display: flex;
  flex-direction: column;
}

.picture {
  max-width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.upload_btn {
  composes: btn_outline from "./../../styleUtils.css";
  border: none;
  font-size: var(--body-font-size);
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  margin: 20px 0;
}

.description_field {
  display: flex;
  flex-direction: column;
}

.description_input {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #d9d9d9;
  padding: 0.7rem 0.5rem;
  margin-bottom: 20px;
  height: 80px;

  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--primary-font-color);
}

.description_input::placeholder {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--bodytext-font-color);
}

.description_input:focus,
.description_input:active {
  outline: 1px solid var(--primary-font-color);
}

.location_field {
  display: flex;
  justify-content: space-between;
}

.location_field > *:first-child {
  width: 30%;
}

.location_field > *:nth-child(2) {
  width: 66%;
}

.explanation_heading {
  color: var(--primary-font-color);
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
}

.explanation {
  color: var(--bodytext-font-color);
}

.contact_field {
  display: flex;
  justify-content: space-between;
}

.contact_field > * {
  width: 48%;
}

.search_switch {
  display: flex;
}

.search_switch > * {
  width: 50%;
}

.searching,
.not_searching {
  background-color: var(--white-color);
  color: var(--primary-font-color);
  padding: 10px 20px;
  font-family: var(--primary-font);
  box-shadow: 0 0 1px 1px #d9d9d9;
  border: none;
  font-size: var(--body-font-size);
  font-weight: 600;
  cursor: pointer;
}

.searching {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.not_searching {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.submit_btn {
  composes: btn_primary from "./../../styleUtils.css";
  font-size: calc(0.8rem + 0.3vw);
  width: 100%;
  cursor: pointer;
  margin-top: 50px;
}
