.main {
  background-color: var(--greyish-bg-color);
  flex-grow: 1;
}

.content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.page_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--primary-font-color);
  font-size: var(--title-font-size);
  font-weight: 500;
}

.submit_btn {
  composes: btn_primary from "./../../styleUtils.css";
  font-size: calc(0.8rem + 0.3vw);
  width: 100%;
  cursor: pointer;
}

.name_fields {
  display: flex;
  justify-content: space-between;
}

.name_fields > * {
  width: 45%;
}
