.footer {
  min-height: 200px;
  background-color: var(--red-color);
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  padding: 10px 0 0 100px;
}

.content {
  display: grid;
  grid-template-columns: 0.4fr 0.2fr 0.4fr;
  height: 170px;
}

.info {
  display: flex;
  flex-direction: column;
}

.footer_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--white-color);
  font-weight: 500;
  font-size: calc(1rem + 0.3vw);
  margin: 20px 0;
}

.footer_nav_link {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--white-color);
  margin-right: 1rem;
}

.footer_some {
  display: flex;
}

.footer_some > * {
  display: inline-block;
  font-size: 0.9rem;
  color: var(--white-color);
  margin-right: 1rem;
  cursor: pointer;
  margin: 1rem 1rem 1rem 0;
}

.privacy {
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 200;
}
