.label {
  color: var(--primary-font-color);
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.form_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.explanation {
  color: var(--bodytext-font-color);
  font-size: calc(0.7rem + 0.3vw);
  margin-top: 0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option_wrapper {
  display: flex;
  gap: 10px;
}

.option_wrapper > input {
  accent-color: var(--primary-font-color);
  margin: 0;
}

.option_wrapper > label {
  color: var(--bodytext-font-color);
  font-size: calc(0.7rem + 0.3vw);
}

.select {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #d9d9d9;
  padding: 0.7rem 0.5rem;
  margin-bottom: 10px;
}

.select.error {
  box-shadow: 0 0 1px 1px var(--red-color);
}

.select::placeholder {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--bodytext-font-color);
}

.select {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--bodytext-font-color);
}

.select:focus,
.select:active,
.description_input:focus,
.description_input:active {
  outline: 1px solid var(--primary-font-color);
}

.help_block {
  color: var(--red-color);
  font-size: calc(0.6rem + 0.3vw);
  height: 20px;
  transition: all 0.2s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.shown {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

.description_input {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #d9d9d9;
  padding: 0.7rem 0.5rem;
  margin-bottom: 20px;
  height: 80px;

  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--primary-font-color);
}

.description_input::placeholder {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--bodytext-font-color);
}

.submit_btn {
  composes: btn_primary from "./../../styleUtils.css";
  font-size: calc(0.8rem + 0.3vw);
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}
