.form_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  color: var(--primary-font-color);
  font-weight: 700;
  margin-bottom: 10px;
}

.input {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px #d9d9d9;
  padding: 0.7rem 0.5rem;
  margin-bottom: 10px;
}

.input.error {
  box-shadow: 0 0 1px 1px var(--red-color);
}

.input::placeholder {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--bodytext-font-color);
}

.input {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  color: var(--primary-font-color);
}

.input:focus,
.input:active {
  outline: 1px solid var(--primary-font-color);
}

.help_block {
  color: var(--red-color);
  font-size: calc(0.6rem + 0.3vw);
  height: 20px;
}
