.main {
  flex-grow: 1;
  background-color: var(--greyish-bg-color);
}

.content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.page_heading {
  composes: heading from "./../../styleUtils.css";
  color: var(--primary-font-color);
  font-size: var(--title-font-size);
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row > * {
  width: 48%;
}

.label {
  color: var(--primary-font-color);
  font-weight: 700;
  margin-bottom: 10px;
}

.submit_btn {
  composes: btn_primary from "./../../styleUtils.css";
  font-size: calc(0.8rem + 0.3vw);
  width: 100%;
  cursor: pointer;
}

.forgotten_password {
  color: var(--primary-font-color);
  font-size: calc(0.7rem + 0.2vw);
  display: inline-block;
  margin-top: 50px;
}
